
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@model List<DTO.CategoryDTO>
<section class="content-header">
    <h1>Address List</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Category</a></li>
        <li class="breadcrumb-item"><a>Category List</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Admin/Category/AddCategory'">Add Category</button>
</div>

<div class="card">

    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Category Name</th>

                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {


                    <tr id="a_@item.ID">
                        <td>@item.CategoryName</td>


                        <td align="center" valign="middle">
                            <a href="/Admin/Category/UpdateCategory/@item.ID">
                                <br />
                                <img style="width: 40px; height: 40px;margin-left:20px; transform: translate(-50%, -50%);" src="~/Areas/Admin/Content/Icon/update-icon.png" />
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <br />
                                <img style="width: 40px; height: 40px; margin-left: 20px; transform: translate(-50%, -50%); " src="~/Areas/Admin/Content/Icon/Delete-icon.png" onclick="AskQuestion('/Admin/Category/DeleteCategory/', @item.ID)" />
                            </a>
                        </td>
                    </tr>


                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Category Name</th>

                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
<!-- /.card -->
